<section class="update-security-access anchor-list">
	<section class="row pg-title-divider">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="page-header">
			   <h1><span class=""></span>Admin Security Form</h1>      
			</div>
		</div>
	</section>
	
	<div>
		<form class="form-horizontal" role="form" name="updateSecurityAccessForm" novalidate>
		<div>
			<div class="row listPage-Row col-xs-9 col-sm-9 col-md-9 col-lg-9">
				<div class="container container-custom col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="toolbar_section">
						<div class="col-sm-6 col-md-6">
							<div class="form-group">
								<label class="control-label col-sm-5 col-md-5 col-lg-5" for="ID">ID</label>
									<div class="col-sm-7 col-md-7 col-lg-7">
										<input type="text" id="ID" class="form-control" name="ID" ng-model="ID" placement="bottom" uib-tooltip="ID required." tooltip-enable="updateSecurityAccessForm.ID.$invalid && submitted"  tooltip-trigger="mouseenter" ng-required="true"/>
									</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-5 col-md-5 col-lg-5" for="firstName">First Name</label>
									<div class="col-sm-7 col-md-7 col-lg-7">
										<input id="firstName" class="form-control" name="firstName" data-ng-model="firstName" placement="bottom" uib-tooltip="First Name required." tooltip-enable="updateSecurityAccessForm.firstName.$invalid && (updateSecurityAccessForm.firstName.$touched || submitted)"  tooltip-trigger="mouseenter" required/>
									</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-5 col-md-5 col-lg-5" for="lastName">Last Name</label>
									<div class="col-sm-7 col-md-7 col-lg-7">
										<input id="lastName" class="form-control" name="lastName" data-ng-model="lastName" placement="bottom" uib-tooltip="Last Name required." tooltip-enable="updateSecurityAccessForm.lastName.$invalid && (updateSecurityAccessForm.lastName.$touched || submitted)"  tooltip-trigger="mouseenter" required/>
									</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-5 col-md-5 col-lg-5" for="accessPrivilege">Access Privilege</label>
									<div class="col-sm-7 col-md-7 col-lg-7">
										<input id="accessPrivilege" class="form-control" name="accessPrivilege" data-ng-model="accessPrivilege" placement="bottom" uib-tooltip="Access Privilege required." tooltip-enable="updateSecurityAccessForm.accessPrivilege.$invalid && (updateSecurityAccessForm.accessPrivilege.$touched || submitted)"  tooltip-trigger="mouseenter" required/>
									</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-5 col-md-5 col-lg-5" for="effectiveDate">Effective Date</label>
									<div class="col-sm-7 col-md-7 col-lg-7">
										<input type="date" custom-datepicker ng-model="effectiveDate" name="effectiveDate" id="effectiveDate" uib-tooltip="Effective Date is required" tooltip-enable="updateSecurityAccessForm.effectiveDate.$invalid && (updateSecurityAccessForm.effectiveDate || submitted)"  tooltip-trigger="mouseenter" ng-required="true">
									</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-5 col-md-5 col-lg-5" for="inactiveDate">Inactive Date</label>
									<div class="col-sm-7 col-md-7 col-lg-7">
										<input type="date" custom-datepicker ng-model="inactiveDate" name="inactiveDate" id="inactiveDate" uib-tooltip="Inactive Date is required" tooltip-enable="updateSecurityAccessForm.inactiveDate.$invalid && (updateSecurityAccessForm.inactiveDate.$touched || submitted)"  tooltip-trigger="mouseenter" ng-required="true">
									</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-6">
							<div class="btn-toolbar col-sm-12 col-md-12">
								<input type="submit" class="btn btn-md btn-primary col-sm-6 col-md-6" value = "Add New ID"  ng-click="addID()"/>
							</div>
							<div class="btn-toolbar col-sm-12 col-md-12">
								<button type="button" id="btnNew" class="btn btn-md btn-primary col-sm-6 col-md-6" ng-click="">Update ID</button>
							</div>
							<div class="btn-toolbar col-sm-12 col-md-12">
								<button type="button" id="btnNew" class="btn btn-md btn-primary col-sm-6 col-md-6" ng-click="">Remove ID</button>
							</div>
							<div class="btn-toolbar col-sm-12 col-md-12">
								<button type="button" id="btnNew" class="btn btn-md btn-primary col-sm-6 col-md-6" ng-click="">Reset Password</button>
							</div>
						</div>
					</div>
						
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top-10 ">
						<div class="well well-lg">
							<div>
								<p><b>Enter an ID,Start Month and/or End Month to limit data retrieved related to the Reports. Leave blant to retrive all data</b></p>
								<div class="form-group">
									<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
										<label class="control-label col-sm-5 col-md-5 col-lg-5" for="ID">ID</label>
											<div class="col-sm-7 col-md-7 col-lg-7">
												<input id="ID" class="form-control" name="ReportID" data-ng-model="ReportID"/>
											</div>
									</div>
									<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
										<label class="control-label col-sm-5 col-md-5 col-lg-5" for="startDate">Start Date</label>
											<div class="col-sm-7 col-md-7 col-lg-7">
												<input type="date" custom-datepicker ng-model="startDate" name="startDate" id="startDate">
											</div>	
									</div>
									<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
										<label class="control-label col-sm-5 col-md-5 col-lg-5" for="startDate">End Date</label>
											<div class="col-sm-7 col-md-7 col-lg-7">
												<input type="date" custom-datepicker ng-model="endDate" name="endDate" id="endDate">
											</div>	
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
										<div class="btn-toolbar">
											<button type="button" id="btnNew" class="btn btn-md btn-primary" ng-click="exportReportData('SecurityAccessTrailReport')">Security Access Trail</button>
										</div>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
										<div class="btn-toolbar">
											<button type="button" id="btnNew" class="btn btn-md btn-primary" ng-click="exportReportData('SecurityActivityLogReport')">Security Activity Log Report</button>
										</div>
									</div>
								</div>
								
							</div>
						</div>
					</div>	
				</div>
			</div>	
			<div class="filters-list container container-custom col-sm-3 col-md-3 col-xs-3 col-lg-3">
							<div class="well well-lg">
								<div class="btn-toolbar">
									<button type="button" id="btnNew" class="btn btn-md btn-primary col-sm-12 col-md-12" ng-click="exportReportData('SecurityAccessListReport')">Security Access List Report</button>
								</div>
								<div class="btn-toolbar">
									<button type="button" id="btnNew" class="btn btn-md btn-primary col-sm-12 col-md-12" ng-click="exportReportData('RevokedAccessLogReport')">Revoked Access Report</button>
								</div>
								<div class="btn-toolbar">
									<button type="button" id="btnNew" class="btn btn-md btn-primary col-sm-12 col-md-12" ng-click="exportReportData('AccessNotUsedInReport')">Access Not Used in Report</button>
								</div>
								<div class="btn-toolbar">
									<button type="button" id="btnNew" class="btn btn-md btn-primary col-sm-12 col-md-12" ng-click="exportReportData('SecurityAccessReviewApproveLogReport')">Security Access Review/Approve</button>
								</div>
								<div class="btn-toolbar">
									<button type="button" id="btnNew" class="btn btn-md btn-primary col-sm-12 col-md-12" ng-click="exportReportData('SecurityAccessReviewApproveLogReport')">Security Activity Review/Approve</button>
								</div>
							</div>
			</div>
					
			</div>
				
		</div>
			
		
	
	</form>	
	</div>	
	
	
	
	
	