<div class="maintenance-items anchor-list">
	<section class="row pg-title-divider">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="page-header">
            <h1><span class="glyphicon glyphicon-wrench"></span> Change Management</h1>      
            </div>
		</div>
	</section>
	<div class="container container-custom">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<div class="panel panel-default">
				  <div class="panel-heading">Administration Database Update</div>
				  <div class="panel-body">
					<ul>
					   <li><i class="fa fa-angle-double-right" aria-hidden="true"></i><a href="#/update-analyst" >Update Analyst's SRLOCAL Database</a></li>
						<li><i class="fa fa-angle-double-right" aria-hidden="true"></i><a href="">Update Master table</a></li>
						<li><i class="fa fa-angle-double-right" aria-hidden="true"></i><a href="">Reports of Database updates</a></li>
						<li><i class="fa fa-angle-double-right" aria-hidden="true"></i><a href="">Exit</a></li>
					</ul>	
				  </div>
			</div>			
		</div>	
	</div>
</div>
