<div class="maintenance-items anchor-list">
	<section class="row pg-title-divider">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="page-header">
            <h1><span class="glyphicon glyphicon-wrench"></span>Administration Database Update</h1>      
            </div>
		</div>
	</section>
	<div class="container container-custom">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<section class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="subsection-container">
						<div class="subsection-header">
							<p> Name </p>
							<input type="submit" class="btn pull-right btn-primary margin10" value="Correct" ng-click="getOfficialResultsReport('profiles-by-market-2d')"/>
						</div>
					</div>			
				</div>
			</section>	
		</div>	
	</div>
</div>
