<div>	
	<section class="row pg-title-divider">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="page-header">
			   <h1><span class="fa fa-group"></span> Sample Workload - By Company: AIT MIDWEST</h1>      
			</div>
		</div>
	</section>
	
	<div class="container container-custom">
		<section class="row margin-bot-10">
			<form class="form-horizontal" role="form" name="dataAnalysisForm" novalidate>
					<div class="col-sm-2"><label class="control-label">Working on: Analyst</label></div>		
					<div class="col-sm-5">
						<div class="form-group">
						  <label class="control-label col-sm-3">Workload for:</label>
						  <div class="col-sm-9">
							<select class="form-control">
								<option value="" class="" selected="selected">All</option>
								<option label="" value="">Option 1</option>
								<option label="" value="">Option 2</option>
								<option label="" value="">Option 3</option>
								<option label="" value="">Option 4</option>
								<option label="" value="">Option 5</option>
							</select>
						  </div>
						</div>
					</div>	
					<div class="col-sm-5">
						<button class="btn btn-md btn-primary">Clear Workload</button>
						<button class="btn btn-md btn-primary">Export Company</button>
						<button class="btn btn-md btn-primary">Export All Companies</button>
					</div>
			 </form>			
		</section>
		
		<section>
			<div class="table-responsive table_selection_agent">          
					<table class="table table-condensed table-hover">
						<thead>
							<tr>
								<th>Stratum</th>
								<th>Available</th>
								<th>Total Unassigned</th>
								<th>Ann Marie</th>
								<th>Chelsea</th>
								<th>Cory</th>
								<th>Analyst 4</th>
								<th>Analyst 5</th>
								<th>Analyst 6</th>
								<th>Test</th>
								<th>Test</th>
								<th>Test</th>
								<th>Test</th>
								<th>Test</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Business</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>Cons Retention</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>Cons UVG</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>Stratum 4</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>Stratum 5</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
		</section>
		
		<section class="margin-top-15">
			<div class="table-responsive table_selection_agent">          
					<table class="table table-condensed table-hover">
						<thead>
							<tr>
								<th>Company</th>
								<th>ID</th>
								<th>Analyst</th>
								<th>Employee</th>
								<th>Language</th>
								<th>City</th>
								<th>Office/Recording Type</th>
								<th>RIC</th>
								<th>Stratum</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Test</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>	
							</tr>
							<tr>
								<td>Test</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>Test</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>Test</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>Test</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
		</section>
	</div>
</div>