<section class="row pg-title-divider">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="page-header">
		   <h1><span class="glyphicon glyphicon-dashboard" style="top:4px;"></span> Dashboard</h1>      
		</div>
	</div>
</section>

<div class="container container-custom">	
	<section class="row">
		<div class="col-md-6">
			<div class="head-txt">Samples</div>
			<div class="subsection-container">
				<div class="subsection-header">
					<ul>
					   <li><i class="fa fa-angle-double-right" aria-hidden="true"></i><a href="#/agentSelection">Start New Sample</a></li>
						<li><i class="fa fa-angle-double-right" aria-hidden="true"></i><a href="#/sample-correction">Select Existing Sample</a></li>
					</ul>
				</div>	
            </div>			
		</div>
		<div class="col-md-6" >
		   <div class="head-txt">Results</div>
			<div class="subsection-container">		
				<div class="subsection-header">
					<ul>
					   <li><i class="fa fa-angle-double-right" aria-hidden="true"></i><a href="#/official-results">Official Results</a></li>
						<li><i class="fa fa-angle-double-right" aria-hidden="true"></i><a href="#/data-analysis">Data Analysis</a></li>
						<!-- <li><i class="fa fa-angle-double-right" aria-hidden="true"></i><a href="">Navigator Extracts</a></li>
						<li><i class="fa fa-angle-double-right" aria-hidden="true"></i><a href="">Audit Reports</a></li> -->
					</ul>	
				</div>
			</div>
		</div>
	</section>
	
	<section class="row margin-top-20">
		<div class="col-md-6">
			<div class="head-txt">Reports</div>
			<div class="subsection-container">		
				<div class="subsection-header">
					<ul>
					   <li><i class="fa fa-angle-double-right" aria-hidden="true"></i><a href="">Product Lists</a></li>
						<li><i class="fa fa-angle-double-right" aria-hidden="true"></i><a href="">What's New</a></li>
					</ul>	
				</div>	
			</div>
		</div>
		<div class="col-md-6" >
			<div class="head-txt">Admin Reports</div>
			<div class="subsection-container">		
				<div class="subsection-header">
					<ul>
					   <li><i class="fa fa-angle-double-right" aria-hidden="true"></i><a href="#/analyst-sample-reports">Analysis Sample Reports</a></li>
						<li><i class="fa fa-angle-double-right" aria-hidden="true"></i><a href="#/audit-reports">Audit Reports</a></li>
					</ul>	
				</div>	
			</div>
		</div>
	</section>
	
	<section class="row margin-top-20">
		<div class="col-md-6">	
			<div class="head-txt">Messages</div>
			<div class="subsection-container">		
				<div class="subsection-header">
					<ul>
					   <li><i class="fa fa-angle-double-right" aria-hidden="true"></i><a href="">Message Text 1</a></li>
						<li><i class="fa fa-angle-double-right" aria-hidden="true"></i><a href="">Message Text 2</a></li>
					</ul>	
				</div>	
			</div>
		</div>
		<div class="col-md-6">
			<div class="head-txt">Maintenance</div>
			<div class="subsection-container">		
				<div class="subsection-header">
					<ul>
					   <li><i class="fa fa-angle-double-right" aria-hidden="true"></i><a href="">Current Online Users</a></li>
						<li><i class="fa fa-angle-double-right" aria-hidden="true"></i><a href="">Update Access Information</a></li>
						<!-- <li><i class="fa fa-angle-double-right" aria-hidden="true"></i><a href="">Update Security Access</a></li> -->
					</ul>	
				</div>
			</div>			
		</div>
	</section>
	
	<section class="row margin-top-20">
		<div class="col-md-6">
			<div class="head-txt">Recording Systems</div>
			<div class="subsection-container">		
				<div class="subsection-header">
					<ul>
					    <li><i class="fa fa-angle-double-right" aria-hidden="true"></i><a href="">Variant Recording Systems</a></li>
						<li><i class="fa fa-angle-double-right" aria-hidden="true"></i><a href="">Colorado Recording System</a></li>
					</ul>		
				</div>	
		   </div>			
		</div>
		<div class="col-md-6" >
             <div class="head-txt">Change Management</div>
			 <div class="subsection-container">		
				<div class="subsection-header">
					<ul>
					    <li><i class="fa fa-angle-double-right" aria-hidden="true"></i><a href="">Database update administration</a></li>
						<li><i class="fa fa-angle-double-right" aria-hidden="true"></i><a href="">Flagged sample report</a></li>
					</ul>	
				</div>	
             </div>			
		</div>
	</section>

</div>