<div class="container relative-pos hidden-print">
	<input type="submit" class="btn btn-primary print-cutom-btn absolute-pos" ng-click="print()" value="Print">
</div>
<div class="container" ng-class="{hideSettingMargin:$index>1}" data-ng-repeat="detail in stratumInfoList" data-ng-if="$index%rowCountPdfPage == 0">
	<div class="row extraPadding pageBreak" ng-class="{'visible-print-block':$index>1}">
		<div class="col-xs-12">
			<div class="mainHeading text-center">Stratum Design - Updating Stratum Definitions </div> 
			<div class="subHeading text-center">&copy Copyright 2012 AT&T Intellectual Property. All rights reserved</div>
		</div>
		<div class="row">
			<div class="col-xs-3 text-right">
				<div style="position:relative;">
					<img src="assets/img/att_logo_background.png" class="logo-img-print hidden-print"/>
					<img src="assets/img/att_logo.png" class="logo-img-print visible-print-block"/>
				</div>
			</div> 
			<div class="col-xs-4 col-md-3 text-right"><b>ATT-Midwest</b></div>
			<div class="col-xs-5 col-md-3"><b></b></div>
		</div>
	</div>
	<div class="row extraPadding" ng-class="{'visible-print-block':$index>1}">
		<div class="showSelection text-center" style="height: 50px;">
		<!--<a id="btnNew" href="#/stratum-definition-report" class="btn btn-md btn-primary hideOnPrint"><span class="glyphicon glyphicon-new-window button-icon"></span>Go to Stratum Definitions Table</a>
		<a id="btnNew" href="#/stratum-definition-report" class="btn btn-md btn-primary hideOnPrint"><span class="glyphicon glyphicon-new-window button-icon"></span>Browse the Universe table</a>-->
		</div>
	</div>
	<div class="row">
		<div class="tableContainer"> 				
			<table class="tablePrint">
				<thead class="tableHeaderBorder">
					<tr ng-class="{hideSettingVisibility:$index>1}">
						<th ng-repeat="(thead,tvalue) in tbHeaders" ng-click="sort(thead)">{{tvalue}}</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="detail in stratumInfoList.slice($parent.$index,$parent.$index+rowCountPdfPage)|orderBy:sortKey:reverse" >
						<td ng-repeat="(key,value) in detail">{{value}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>		
	<div class="footer text-center" ng-class="{'visible-print-block':($index+rowCountPdfPage)/rowCountPdfPage<(stratumInfoList.length/rowCountPdfPage)}">
		<div class="mainHeading">AT&T Proprietary (Restricted)</div>
		<div class="subHeading">Only for use by authorized individuals or any above-designated team(s)<br>
		within the AT&T companies and not for general distribution</div>
	</div>	
</div>